@use "../../styles/variables" as *;

.wrapper {
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.15);
  overflow: auto;
  max-height: 90vh;
  z-index: 1000;
  opacity: 1;

  &.closed {
    pointer-events: none;
    opacity: 0;
  }
}

.trigger {
  display: inherit;
}
