@use "../../styles/variables" as *;

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color-black, 0.85);
  z-index: 100;

  > * {
    height: 100%;
  }
}

.imageWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    max-height: min(800px, 90vh, calc(100vh - 140px));
    max-width: min(1200px, 90vw, calc(100vw - 100px));
    filter: drop-shadow(0 0 10px rgba($color-black, 0.5));
    object-fit: contain;
  }
}

.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  height: auto;
  gap: 10px;
  z-index: 101;
}

.button {
  all: unset;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 3px;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
    fill: $color-gray;
  }
}

.arrow {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 101;
  cursor: pointer;

  &.prev {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $color-gray;
  }
}

@include breakpoint-up("sm") {
  .imageWrapper img {
    max-width: min(1200px, 90vw, calc(100vw - 140px));
  }

  .arrow {
    right: 20px;

    &.prev {
      left: 20px;
    }
  }
}
