@use "../../styles/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority {
  all: unset;
  @include text-small;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  padding-left: 4px;
  margin-left: -4px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px rgba($color-black, 0.3);
  }

  &:active {
    transform: scale(0.98);
  }

  svg {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  &.selected {
    background-color: rgba($color-primary, 0.1);
  }

  &.low,
  &.very-low {
    color: $color-primary;
  }

  &.normal {
    color: $color-warning;
  }

  &.high,
  &.very-high {
    color: $color-danger;
  }
}

.priorityDropdown {
  position: absolute;
  top: -4px;
  left: 0;
  background-color: $color-white;
  border-radius: 2px;
  padding: 4px 4px 4px 8px;
  margin-left: -8px;
  box-shadow: 0 0 5px rgba($color-black, 0.5);
  z-index: 10;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      white-space: nowrap;
    }
  }
}

.date {
  @include text-small;

  color: $color-primary;
}

.type {
  @include text-large;

  font-weight: 600;
}

.hr {
  border: none;
  height: 1px;
  background-color: $color-gray-lighten-2;
  margin: 10px 0;
}

.footer {
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-top: 10px;
}
