@use "../../styles/variables" as *;

.card {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority {
  all: unset;
  @include text-small;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  padding-left: 4px;
  margin-left: -4px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px rgba($color-black, 0.3);
  }

  &:active {
    transform: scale(0.98);
  }

  &[disabled] {
    pointer-events: none;
  }

  svg {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  &.selected {
    background-color: rgba($color-primary, 0.1);
  }

  &.low,
  &.very-low {
    color: $color-primary;
  }

  &.normal {
    color: $color-warning;
  }

  &.high,
  &.very-high {
    color: $color-danger;
  }
}

.priorityDropdown {
  position: absolute;
  top: -4px;
  left: 0;
  background-color: $color-white;
  border-radius: 2px;
  padding: 4px 4px 4px 8px;
  margin-left: -8px;
  box-shadow: 0 0 5px rgba($color-black, 0.5);
  z-index: 10;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      white-space: nowrap;
    }
  }
}

.date {
  @include text-small;

  color: $color-primary;
  transition: 0.2s padding ease-in-out;
}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.actionsDropdown {
  background-color: $color-white;
  border-radius: 2px;
  padding: 4px 0;
  margin-left: -8px;
  box-shadow: 0 0 5px rgba($color-black, 0.5);
  margin-top: 24px;
  z-index: 10;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li:last-child .action {
      color: $color-danger;
    }
  }
}

.actionsButton {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
  transition: 0.2s all ease-in-out;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-primary;
  }
}

.action {
  all: unset;
  @include text-base;
  display: flex;
  align-items: center;
  width: 180px;
  padding: 6px 12px;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-lighten-3;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    fill: currentColor;
  }
}

.card:hover,
.actions.active {
  .actionsButton {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}

.card:hover .date,
.actions.active + .date {
  padding-right: 30px;
}

.type {
  @include text-large;

  font-weight: 600;
}

.hr {
  border: none;
  height: 1px;
  background-color: $color-gray-lighten-2;
  margin: 10px 0;
}

.footer {
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-top: 10px;
}
