.user {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #205699;
  border-radius: 50%;
  color: #205699;
  cursor: pointer;
}
