@use "../../styles/variables.scss" as *;

.user {
  all: unset;
  @include text-medium;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid $color-primary;
  border-radius: 50%;
  color: $color-primary;
  cursor: pointer;
}
