@use "../../styles/variables" as *;

@each $breakpoint, $_ in $breakpoints {
  @include breakpoint-up($breakpoint) {
    .#{$breakpoint}small {
      @include text-small;
    }
    
    .#{$breakpoint}base {
      @include text-base;
    }
    
    .#{$breakpoint}medium {
      @include text-medium;
    }
    
    .#{$breakpoint}large {
      @include text-large;
    }
    
    .#{$breakpoint}big {
      @include text-big;
    }
    
    .#{$breakpoint}h3 {
      @include text-h3;
      font-weight: bold;
    }
    
    .#{$breakpoint}h2 {
      @include text-h2;
      font-weight: bold;
    }
    
    .#{$breakpoint}h1 {
      @include text-h1;
      font-weight: bold;
    }
  }
}

.center {
  text-align: center;
}

.fontWeight500 {
  font-weight: 500;
}

.fontWeight600 {
  font-weight: 600;
}

.fontWeight700 {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
