@use "../../styles/variables" as *;

.options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option {
  all: unset;
  box-sizing: border-box;
  @include text-base;
  position: relative;
  display: flex;
  width: 100%;
  padding: 6px 40px 6px 12px;
  cursor: pointer;

  .icon {
    width: 20px;
    margin: 0 6px 0 -4px;
  }

  .check {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    fill: $color-primary;
  }

  &:hover {
    background-color: $color-gray-lighten-3;
  }

  &.selected {
    background-color: rgba($color-primary-lighten-1, 0.25);
  }
}
