@use "../../styles/variables" as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.photo {
  position: relative;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba($color-gray, 0.5);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.loading img {
    filter: blur(1px) brightness(0.75);
  }

  &.loading svg {
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    width: 56px;
    height: 56px;
    animation: spinner 1s infinite;
    fill: $color-white;
  }
}

.actionButton {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 34px;
  height: 34px;
  padding: 5px;
  background-color: rgba($color-white, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba($color-dark, 0.3);
  transition: 0.15s box-shadow ease-in-out;

  &:hover {
    box-shadow: 0 0 10px rgba($color-dark, 0.5);
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $color-primary;
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-gray;
  padding: 20px;
  width: 100%;
  height: 200px;
  border: 2px dashed $color-gray-lighten-1;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.1s box-shadow ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba($color-gray, 0.3);
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  svg {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    margin-bottom: 16px;
    fill: $color-gray;
  }
}

@include breakpoint-up("sm") {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint-up("md") {
  .wrapper {
    gap: 20px;
  }
}

@include breakpoint-up("lg") {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include breakpoint-up("xl") {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
