@use "../../styles/variables" as *;

.textarea {
  all: unset;
  box-sizing: border-box;
  @include text-base;
  line-height: 24px;
  display: flex;
  width: 100%;
  height: 80px;
  border: 1px solid $color-gray-lighten-1;
  padding: 4px 10px;
  transition: 0.2s;
  border-radius: 2px;
  resize: none;
  cursor: text;

  &:hover {
    border-color: $color-dark;

    &:not(:focus)::placeholder {
      color: $color-dark;
    }
  }

  &:focus {
    border-color: $color-primary;
  }

  &:not(:empty):not(:focus) {
    border-color: $color-dark;
  }

  &::placeholder {
    transition: 0.2s;
    color: $color-gray;
  }

  &.medium {
    padding: 8px 16px;
  }
}
