@use "../../../styles/variables" as *;

.timeline {
  position: relative;
  background-color: $color-white;
  height: 80px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px rgba($color-black, 0.3);
  border-radius: 8px;
  padding: 8px 5px 0 5px;
  min-width: 900px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.intervals {
  padding: 20px 15px 0;
  flex: 1;
}

.intervalsInner {
  position: relative;
  display: flex;
  height: 100%;
}

.interval {
  position: relative;
  border-left: 1px dashed $color-gray-lighten-1;

  &:not(:last-child) {
    flex: 1;
  }
}

.date {
  @include text-small;
  color: $color-primary;
}

.time {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  font-size: 10px;
  line-height: 14px;
  color: $color-gray;
}

.slot {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid transparent;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slotPriority {
  display: none;

  svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &.priority-0 {
    color: $color-gray;
  }

  &.priority-1 {
    color: $color-dark;
  }

  &.priority-2 {
    color: $color-warning;
  }

  &.priority-3 {
    color: $color-danger;
  }
}

.slotTime {
  font-size: 8px;
  line-height: 1;
  font-weight: 600;
  padding: 5px 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeButton {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  position: absolute;
  padding: 8px;
  top: 6px;
  right: 6px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $color-gray-lighten-3;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.95);
  }

  &:active {
    transform: scale(0.95);
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $color-dark;
  }
}

@include breakpoint-up("sm") {
  .slotPriority {
    display: inline-block;
  }

  .slotTime {
    font-size: 9px;
    padding: 0 5px 5px;
  }

  .timeline {
    height: 140px;
  }
}

@include breakpoint-up("md") {
  .date {
    @include text-base;
  }

  .name {
    @include text-medium;
  }
}
