.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;

  &.fullScreen {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
