@use "../../styles/variables" as *;

.page {
  white-space: pre-wrap;
}

.date {
  @include text-small;

  color: $color-gray;
  text-align: end;
}

.map {
  position: relative;
  height: 500px;
  margin-top: 60px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 25%);
    pointer-events: none;
  }
}

.editButton {
  all: unset;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  vertical-align: top;
  margin-left: 10px;
  color: $color-gray;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

@include breakpoint-up("md") {
  .map {
    height: 600px;
    margin: 80px 0 calc($page-bottom-padding * -1);
  }
}
