@use "../../styles/variables" as *;

.popover {
  padding: 4px 0;
  margin-top: 6px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  all: unset;
  @include text-base;
  display: flex;
  align-items: center;
  width: 205px;
  padding: 6px 12px;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-lighten-3;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    fill: currentColor;
  }

  &.danger {
    color: $color-danger;
  }
}
