@use "sass:map";

// Colors

$color-primary: #1352A1;

$color-white: #FFFFFF;
$color-black: #000000;

$color-gray-lighten-1: #F5F5F5;

// Font sizes

@mixin text-small {
  font-size: 12px;
  line-height: 14px;
}

@mixin text-base {
  font-size: 16px;
  line-height: 20px;
}

@mixin text-medium {
  font-size: 18px;
  line-height: 22px;
}

@mixin text-big {
  font-size: 20px;
  line-height: 24px;
}

// Breakpoints

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@function breakpoint-next($name) {
  $breakpoint-names: map-keys($breakpoints);
  $n: index($breakpoint-names, $name);

  @if not $n {
    @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
  }

  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name) {
  $min: map-get($breakpoints, $name);

  @return if($min != 0, $min, null);
}

@function breakpoint-max($name) {
  $max: map-get($breakpoints, $name);

  @return if($max and $max > 0, $max - 0.02, null);
}

@function breakpoint-infix($name) {
  @return if(breakpoint-min($name) == null, "", "-#{$name}");
}

@mixin breakpoint-up($name) {
  $min: breakpoint-min($name);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin breakpoint-down($name) {
  $max: breakpoint-max($name);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin breakpoint-between($lower, $upper) {
  $min: breakpoint-min($lower);
  $max: breakpoint-max($upper);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include breakpoint-up($lower) {
      @content;
    }
  } @else if $min == null {
    @include breakpoint-down($upper) {
      @content;
    }
  }
}

@mixin breakpoint-only($name) {
  $min: breakpoint-min($name);
  $next: breakpoint-next($name);
  $max: breakpoint-max($next);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include breakpoint-up($name) {
      @content;
    }
  } @else if $min == null {
    @include breakpoint-down($next) {
      @content;
    }
  }
}
