@use "../../styles/variables" as *;

.spinner {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  svg {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    fill: $color-primary;
    animation: spinner 1s infinite;
  }
}
