@use "../../styles/variables" as *;

.field {
  position: relative;
  display: inline-block;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    border: solid $color-gray;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: translateY(-50%) rotate(45deg);
    transition: 0.2s;
    pointer-events: none;
  }

  &:hover::after {
    border-color: $color-dark;
  }

  &.active:not(.required)::after {
    content: none;
  }
}

.select {
  all: unset;
  box-sizing: border-box;
  @include text-base;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $color-gray-lighten-1;
  color: $color-dark;
  padding: 4px 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    border-color: $color-dark;
  }

  &:focus {
    border-color: $color-primary;
  }
}

.field.active .select:not(:focus) {
  border-color: $color-dark;
}

.placeholder {
  @include text-base;
  position: absolute;
  top: 6px;
  left: 10px;
  color: $color-gray;
  pointer-events: none;
  transition: 0.2s;
}

.clear {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 24px;
  height: 24px;
  padding: 0;
  color: $color-dark;
  cursor: pointer;

  &::before {
    content: "\00d7";
    font-size: 24px;
    line-height: 1;
  }
}

.select:hover:not(:focus) + .placeholder {
  color: $color-dark;
}

.field.active .select + .placeholder {
  opacity: 0;
}

.field {
  &.medium {
    .select {
      padding: 8px 16px;
    }

    .placeholder {
      top: 10px;
      left: 16px;
    }
  }

  &.invalid,
  &.invalid:hover {
    .select {
      border-color: $color-danger;
      color: $color-danger;
    }

    .placeholder {
      color: $color-danger;
    }
  }

  &.invalid::after,
  &.invalid:hover::after {
    border-color: $color-danger;
  }
}
