@use "../../styles/variables" as *;

.wrapper {
  position: relative;
  margin: 0 $container-padding-mobile * -1 calc($page-bottom-padding * -1);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 10px rgba($color-black, 0.25);
    pointer-events: none;
  }

  @include breakpoint-up("sm") {
    margin: 0 $container-padding * -1 calc($page-bottom-padding * -1);
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  pointer-events: none;

  @include breakpoint-down("md") {
    display: flex;
  }
}

.containerInner {
  @include breakpoint-down("md") {
    margin-top: auto;
    height: auto;
  }
}

.cards {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: $container-padding $container-padding-mobile $page-bottom-padding;
  margin-left: $container-padding-mobile * -1;
  overflow: auto;
  pointer-events: auto;
  width: calc(100% + $container-padding-mobile * 2);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint-up("sm") {
    padding: $container-padding $container-padding $page-bottom-padding;
    margin-left: $container-padding * -1;
    width: calc(100% + $container-padding * 2);
  }

  @include breakpoint-up("md") {
    flex-direction: column;
    align-items: flex-start;
    padding: $container-padding;
    width: calc((100% / 12 * 5) - 15px + $container-padding * 2);
  }

  @include breakpoint-up("lg") {
    width: calc(25% - 15px + $container-padding * 2);
  }
}

.card {
  position: relative;
  width: 100%;

  > div {
    box-shadow: 0 0 8px rgba($color-black, 0.3);

    @include breakpoint-down("sm") {
      max-height: 148px;
      overflow: hidden;

      @media screen and (max-height: 700px) {
        max-height: 106px;
        overflow: hidden;
      }
    }
  }

  & + & {
    margin-left: $container-padding-mobile;

    @include breakpoint-up("sm") {
      margin-left: $container-padding;
    }

    @include breakpoint-up("md") {
      margin: 10px 0 0 0;
    }
  }

  @include breakpoint-down("md") {
    flex: 0 0 100%;
  }

  &.selected .cardOutline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 3px currentColor;
    opacity: 0.35;
    pointer-events: none;
  }
}
