@use "../../styles/variables" as *;

.wrapper {
  position: relative;
  margin: 0 calc(var(--container-padding) * -1) calc($page-bottom-padding * -1);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 10px rgba($color-black, 0.25);
    pointer-events: none;
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  pointer-events: none;

  @include breakpoint-down("md") {
    display: flex;
  }
}

.containerInner {
  @include breakpoint-down("md") {
    margin-top: auto;
    height: auto;
  }
}

.cards {
  display: flex;
  align-items: flex-end;
  max-height: 100%;
  padding: var(--container-padding) var(--container-padding) $page-bottom-padding;
  margin-left: calc(var(--container-padding) * -1);
  overflow: auto;
  pointer-events: auto;
  width: calc(100% + var(--container-padding) * 2);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint-up("md") {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--container-padding);
    width: calc((100% / 12 * 5) - 15px + var(--container-padding) * 2);
  }

  @include breakpoint-up("lg") {
    width: calc(25% - 15px + var(--container-padding) * 2);
  }
}

.card {
  position: relative;
  width: 100%;
  scroll-margin: var(--container-padding);

  > div {
    box-shadow: 0 0 8px rgba($color-black, 0.3);

    @include breakpoint-down("md") {
      max-height: 125px;
      overflow: hidden;
    }
  }

  & + & {
    margin-left: var(--container-padding);

    @include breakpoint-up("md") {
      margin: 10px 0 0 0;
    }
  }

  @include breakpoint-down("md") {
    flex: 0 0 75%;
  }

  @include breakpoint-down("sm") {
    flex: 0 0 95%;
  }

  &.selected .cardOutline {
    position: absolute;
    inset: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 3px currentColor;
    opacity: 0.35;
    pointer-events: none;
  }
}

.wrapper {
  :global(> div > span.popoverTrigger) {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 40px;
    transform: translate(-50%);
    z-index: 1;

    @include breakpoint-down("lg") {
      display: none;
    }
  }
}

.timeline {
  position: absolute;
  left: calc(min($container-width, 100%) / 4 + ((100% - min($container-width, 100%)) / 2));
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint-down("lg") {
    left: calc(100% * 5 / 12);
  }

  @include breakpoint-down("md") {
    left: 0;
    padding: 10px var(--container-padding);
    bottom: calc($page-bottom-padding + 125px);
  }
}
