@use "../../styles/variables" as *;

.label,
.error {
  @include text-small;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.label {
  font-weight: 500;
  color: $color-primary;
}

.error {
  color: $color-danger;
}
