@use "../../styles/variables" as *;

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 20px;
  background-color: $color-white;
  box-shadow: 0 0 6px rgba($color-dark, 20%);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;

  &.collapsed {
    padding: 15px 20px;
  }
}

.closeButton {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $color-gray-lighten-3;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.95);
  }

  &:active {
    transform: scale(0.95);
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $color-dark;
  }
}

@include breakpoint-up("md") {
  .drawer {
    padding: 40px;
    width: 58%;

    &.collapsed {
      padding: 15px 25px;
    }
  }
}

@include breakpoint-up("lg") {
  .drawer {
    width: 500px;
  }
}
