@use "../../styles/variables" as *;

$header-padding: 16px;

.header {
  box-shadow: 0 0 6px rgba($color-black, 0.2);
  padding: $header-padding 0;
  background-color: $color-white;
}

.nav {
  display: flex;
  align-items: flex-end;
}

.logo {
  display: inline-block;
  text-decoration: none;
  margin-right: 10%;
  width: 150px;
  height: 35px;

  img {
    width: 100%;
    height: 100%;
  }
}

.menu {
  flex: 1;
  display: flex;
  margin: 0;
  margin-bottom: -$header-padding;
  padding: 0;
  list-style: none;
}

.menuItem {
  &:not(:first-child) {
    margin-left: 36px;
  }

  a {
    @include text-medium;
    display: inline-block;
    color: $color-black;
    text-decoration: none;
    padding: 0 10px;
    padding-bottom: $header-padding - 2px;
    border-bottom: 8px solid transparent;

    &:hover {
      border-color: rgba($color-primary, 0.3);
    }

    &.activeLink {
      border-color: $color-primary;
      font-weight: bold;
    }
  }
}

.mobileNav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mobileMenu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mobileMenuItem {
  flex: 0 0 calc(100% / 3);

  a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 54px;
    width: 100%;
    color: $color-black;

    &:hover {
      background-color: rgba($color-primary, 0.3);
    }
    
    &.activeLink {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

@include breakpoint-down('md') {
  .nav {
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .mobileNav {
    display: block;
  }
}
