@use "../../styles/variables" as *;

$header-padding: 16px;

.header {
  z-index: 10;
  box-shadow: 0 0 6px rgba($color-black, 0.2);
  padding: 16px 0;
  background-color: $color-white;
  height: 72px;
}

.logo {
  display: inline-block;
  text-decoration: none;
  width: 150px;
  height: 35px;

  img {
    width: 100%;
    height: 100%;
  }
}

.menu {
  display: flex;
  margin: 0;
  margin-bottom: -16px;
  padding: 0;
  list-style: none;
}

.menuItem {
  &:not(:first-child) {
    margin-left: 36px;
  }

  a {
    @include text-medium;
    display: inline-block;
    color: $color-dark;
    text-decoration: none;
    padding: 0 10px;
    padding-bottom: 14px;
    border-bottom: 8px solid transparent;

    &:hover {
      border-color: rgba($color-primary, 0.3);
    }

    &.activeLink {
      border-color: $color-primary;
      font-weight: bold;
    }
  }
}

.mobileNav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-gray-lighten-2;
  box-shadow: 0 0 6px rgba($color-black, 0.2);
  z-index: 100;
}

.mobileMenu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: env(safe-area-inset-bottom);
}

.mobileMenuItem {
  flex: 1;

  a {
    @include text-base;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 4px 10px 4px;
    width: 100%;
    color: $color-dark;

    svg {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      fill: $color-dark;
      margin-bottom: 3px;
    }
    
    &.activeLink {
      background-color: $color-primary;
      color: $color-white;

      svg {
        fill: currentColor;
      }
    }
  }
}

@include breakpoint-down('md') {
  .nav {
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .mobileNav {
    display: block;
  }
}
