@use "../../styles/variables" as *;

.dateFilter {
  text-align: center;
  margin-bottom: 20px;
}

.wrapper {
  overflow-x: auto;
}

.rows {
  position: relative;
  padding: 20px 15px 0;
  min-width: 900px;
}

.row {
  position: relative;
  padding-top: 32px;
  border-bottom: 1px dashed $color-gray-lighten-1
}

.employee {
  @include text-small;
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px 4px 4px;
  border-radius: 50px;
  background-color: rgba($color-white, 0.75);
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.15);
  font-weight: 600;

  svg {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
  }
}

.slots {
  flex: 1;
  position: relative;
  height: 50px;
}

.intervals {
  position: absolute;
  inset: 0;
  display: flex;
  padding: 20px 15px 0;
}

.interval {
  position: relative;
  border-left: 1px dashed $color-gray-lighten-1;

  &:not(:last-child) {
    flex: 1;
  }
}

.time {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  font-size: 10px;
  line-height: 14px;
  color: $color-gray;
}

@include breakpoint-up("sm") {
  .slots {
    height: 70px;
  }
}
