@use "../../styles/variables" as *;

.notifications {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  pointer-events: none;
  z-index: 200;
}

.notification {
  @include text-medium;
  line-height: 24px;
  position: relative;
  display: flex;
  background-color: $color-white;
  max-width: calc(100vw - 40px);
  width: 500px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba($color-black, 0.2);
  transition: 0.4s;
  pointer-events: all;

  > svg {
    height: 24px;
    flex: 0 0 24px;
    margin-right: 14px;
  }

  & + & {
    margin-top: 20px;
  }

  &.info {
    fill: $color-primary;
    border-left: 3px solid $color-primary;
  }

  &.success {
    fill: $color-success; 
    border-left: 3px solid $color-success;
  }

  &.error {
    fill: $color-danger;
    border-left: 3px solid $color-danger;
  }

  &.warning {
    fill: $color-warning;
    border-left: 3px solid $color-warning;
  }
}

:global(.enter).notification {
  opacity: 0;
  transform: translateY(100%);
}

:global(.enter-active).notification {
  opacity: 1;
  transform: translateY(0);
}

:global(.exit).notification {
  opacity: 1;
}

:global(.exit-active).notification {
  opacity: 0;
}

.closeButton {
  all: unset;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 16px;
  height: 16px;

  svg {
    width: 100%;
    fill: currentColor;
  }
}
