@use "../../styles/variables" as *;

.dateFilter {
  text-align: center;
  margin-bottom: 20px;
}

.wrapper {
  overflow-x: auto;
}

.rows {
  position: relative;
  padding: 20px 15px 0;
  min-width: 900px;
}

.row {
  position: relative;
  border-bottom: 1px dashed $color-gray-lighten-1
}

.slots {
  flex: 1;
  position: relative;
  height: 50px;
}

.intervals {
  position: absolute;
  inset: 0;
  display: flex;
  padding: 20px 15px 0;
}

.interval {
  position: relative;
  border-left: 1px dashed $color-gray-lighten-1;

  &:not(:last-child) {
    flex: 1;
  }
}

.time {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  font-size: 10px;
  line-height: 14px;
  color: $color-gray;
}

@include breakpoint-up("sm") {
  .slots {
    height: 70px;
  }
}
