@use "../../styles/variables" as *;

.wrapper {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.title {
  @include text-h3;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  @include text-base;
  margin-top: 30px;
}

.icon {
  height: 64px;

  svg {
    fill: $color-primary;
    width: 100%;
    height: 100%;
  }
}

.action {
  margin-top: 20px;
}
