@use "../../styles/variables" as *;

.wrapper {
  position: relative;
  display: inline-block;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button {
  all: unset;
  box-sizing: border-box;
  @include text-small;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 6px;
  height: 36px;
  opacity: 0.75;
  background-color: $color-white;
  box-shadow: 0 0 8px rgba($color-black, 0.3);
  transition: 0.2s opacity ease-in-out;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-dark;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: scale(0.97);
  }

  &.selected {
    padding: 6px 12px;
    opacity: 1;
  }
}

.wrapper:not(.input) {
  .button:first-child:not(:only-child),
  .button:last-child:not(:only-child) {
    padding: 2px;
    width: 24px;
    height: 24px;
    opacity: 1;
  }
}

.closeButton {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: -4px;
  right: 38px;
  display: flex;
  background-color: $color-dark;
  border-radius: 50%;
  color: $color-white;
  width: 14px;
  height: 14px;
  padding: 3px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

.buttons2 {
  display: flex;

  button {
    border-radius: 0;

    &:first-child,
    &:last-child {
      padding-left: 4px;
      padding-right: 4px;

      &:hover {
        color: $color-dark;
        border-color: $color-gray-lighten-1;
      }

      &:disabled {
        color: $color-gray-lighten-1;
      }
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: none;
    }
  }
}
