@use "../../styles/variables" as *;

.actions {
  width: 24px;
  height: 24px;
}

.actionsButton {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-primary;
  }
}
