@use "../../styles/variables.scss" as *;

.table {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  th {
    text-align: left;
  }

  th, td {
    @include text-base;
    padding: 14px;
  }

  thead {
    th {
      @include text-medium;
      font-weight: 600;
      color: $color-primary;
    }
  }

  tbody {
    th {
      width: 1px;
      padding: 14px 20px 14px 0;
    }

    td {
      border-bottom: 1px solid $color-gray-lighten-2;

      &:last-child {
        width: 1px;
      }
    }
  }
}
