@use "../../styles/variables" as *;

.marker {
  @include text-small;
  position: relative;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: $color-white;
  border-radius: 50%;
  cursor: pointer;

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
  }

  &::before {
    box-shadow: 0 0 6px currentColor;
    opacity: 0.7;
  }

  &.selected::after {
    outline: 3px solid currentColor;
    opacity: 0.35;
  }
}
