@use "../../styles/variables" as *;

.marker {
  @include text-small;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: $color-white;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba($color-black, 0.3);
  cursor: pointer;

  svg {
    height: 24px;
    width: 24px;
  }

  &.selected {
    outline: 3px solid rgba($color-primary, 0.3);
  }
}
