@use "../../styles/variables" as *;

.marker {
  @include text-small;
  position: relative;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: $color-white;
  border-radius: 50%;
  cursor: pointer;

  svg {
    height: 25px;
    width: 25px;
    fill: currentColor;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
  }

  &::before {
    box-shadow: 0 0 6px currentColor;
  }

  &.selected::after {
    box-shadow: 0 0 0 3px currentColor;
    opacity: 0.5;
  }
}

.warning {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  background-color: $color-warning;
  box-shadow: 0 0 4px $color-warning;
  border-radius: 50%;
  z-index: 1;
}
